<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorCanvas2026</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="canvas">
                <span class="oi oi-brush" aria-hidden="true"></span> Canvas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="blazorcanvas">
                <span class="oi oi-brush" aria-hidden="true"></span> Blazor Canvas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="testcanvas">
                <span class="oi oi-cog" aria-hidden="true"></span> Test Canvas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="foundrycanvas">
                <span class="oi oi-aperture" aria-hidden="true"></span> Foundry Canvas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simplecanvas2d">
                <span class="oi oi-target" aria-hidden="true"></span> Simple Canvas2D
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
